<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Inventory</title>
</head>
<body>
	<div>
		<h1>
			Inventory
		</h1>
		<form action="/inventory" method="post">
			<label>Title</label>
			<input type="text" name="text" id="text">
		</br>
			<label>Description</label>
			<input type="text" name="text" id="text">
		</br>
			<label>Upload Images</label>
			<input type="file" name="file1" id="file1">
			<button type="submit">Submit</button>
		</form>



	</div>

</body>
</html>