<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Invoice View</title>
</head>
<body>
  <div class="main">
<div class="firstbox">
  <div class="compdet">
  <h3>Al-Hayat Int.</h3>
  <h3>Glass Tower, Clifton, Karachi.</h3>
  <h3>923062995067</h3>
  </div>
</div>
  <div class="invoice-detail">
    <thead>
      <th>Invoice #</th>
      <th>Date</th>
    </thead>
    <thead>
      <th>[]</th>
      <th>[]</th>
    </thead>
    <tr>
      <td>Customer ID</td>
      <td>Purchase Order</td>
    </tr>
    <tr>
      <td>[]</td>
      <td>[]</td>
    </tr>
  </div>

<div class="billto">
<h3>[Name]</h3>
<h3>[Organization]</h3>
<h3>[Address]</h3>
<h3>[Phone]</h3>
<h3>Email</h3>
</div>
<div class="bill">
  <table class="table-main">
    <thead>
      <th>Description</th>
      <th>QTY</th>
      <th>Unit Price</th>
      <th>Amount</th>
    </thead>
    <tbody>
      <tr>
        <td>[]</td>
        <td>[]</td>
        <td>[]</td>
        <td>[]</td>
      </tr>
      <tr>
        <td>[]</td>
        <td>[]</td>
        <td>[]</td>
        <td>[]</td>

      </tr>
      <tr>
        <td>[]</td>
        <td>[]</td>
        <td>[]</td>
        <td>[]</td>

      </tr>
      <tr>
        <td>[]</td>
        <td>[]</td>
        <td>[]</td>
        <td>[]</td>
      </tr>
      <tr>
        <td>[]</td>
        <td>[]</td>
        <td>[]</td>
        <td>[]</td>
      </tr>
      <tr>
        <td>[]</td>
        <td>[]</td>
        <td>[]</td>
        <td>[]</td>

      </tr>
      <tr>
        <td>[]</td>
        <td>[]</td>
        <td>[]</td>
        <td>[]</td>

      </tr>
      <tr>
        <td>[]</td>
        <td>[]</td>
        <td>[]</td>
        <td>[]</td>
      </tr>
      <tr>
        <td>[]</td>
        <td>[]</td>
        <td>[]</td>
        <td>[]</td>

      </tr>
      <tr>
        <td>[]</td>
        <td>[]</td>
        <td>[]</td>
        <td>[]</td>
      </tr>
      
    </tbody>
  </table>
</div>
</div>
</body>
</html>